@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html, body{
    font-family: 'Rubik', sans-serif;
    background-color: #2250a0;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

header{
    text-align: center;
    color: azure;
    /* display: none; */
}

.flex-container {
  display: flex;
}

.card {
    width: 200px;
    height: 300px;
    background-color: azure;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.card:hover{
    transform: scale(0.9);
}

.card:active{
    transform: scale(0.8);
}


.panel{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
}

.questions{
    border-radius: 15px;
    height: 200px;
    background-color: rgb(219, 219, 233);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}

.answers{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}

.option{
    width: 500px;
    height: 100px;
    background-color: rgb(219, 219, 233);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.7s ease;
    text-align: center;
}

.option:hover{
    background-color: rgb(169, 169, 201);
}

.option:active{
    transform: scale(0.9);
}

.option p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.result{
    font-size: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    display: none;
}

.result button {
    font-size: 50px;
    border-radius: 15px;
    padding: 20px;
    color: #2250a0;
    cursor: pointer;
    background-color: black;
}

.result button:hover{
    background-color: #133a7e;
    color: #fff;
}

@media only screen and (max-width: 600px){

    .container {
        display: flex;
        flex-direction: column
        
    }

};

@media only screen and (max-width: 768px){

    .panel {
        display: flex;
        flex-direction: column
        
    }

};


    
